@tailwind base;
@tailwind components;
@tailwind utilities;

.input-text {
  @apply bg-transparent border border-t-0 border-l-0 border-r-0 focus:outline-none text-white tracking-wide;
}

.bg-image {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: url("./images/ai-bg.jpg") center/cover no-repeat;
}
